@CHARSET "UTF-8";

#headerBox{width:100%;}
#topMenu {position:absolute; top:0px; left:0; width:100%; height:30px; background:#fff; z-index:1; border-bottom:1px solid #eee; padding:3px 30px 0px 30px;}

#topMenu .leftSide li{float:left; font-size:12px;}
#topMenu .leftSide li a:hover{color:#9c836a;}
#topMenu .leftSide li::after{padding:0 7px; content:"/";}
#topMenu .leftSide li:last-child::after{content:"";}

#topMenu .rightSide li{float:right; font-size:12px; padding:0 5px 0 20px;}
#topMenu .rightSide li a:hover{color:#9c836a;}

#mainMenu{position:absolute; top:30px; width:100%; margin:0 auto; background:#fff; z-index:10; border-bottom:1px solid #eee;}
#mainMenu ul{float:inherit; display:table; margin:0 auto; text-align:center; padding-left:50px;}
#mainMenu ul li{float:left; padding:20px; font-weight:700; }
#mainMenu ul li a:hover{color:#9c836a;}
#mainMenu ul li:nth-child(3){margin-right:00px !important;}
#mainMenu ul li:nth-child(4){color:blue !important; margin-left:120px !important;}

.logoNav{position:absolute; top:0; right:0; left:0; z-index:15; width:85px; margin:20px auto 0 auto;}
.logoNav img{width:85px; height:85px;}

/* .mainDropdown{transform:matrix(1,0,0,1,0,20); opacity:0; background-color:#fff; z-index:1000; text-align:left;} */

.dropdown{ position: relative; display: inline-block;}

#mainMenu li .mainDropdown {
  display: none;
  position: absolute;
  background-color:#fff; 
  width:150px;
  border:1px solid #eee;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
  clear:both;
  padding:10px;
  font-size:15px;
  opacity:1;
  transition: all 2s;
  transform:matrix(1,0,0,1,0,20);
  
  animation-name: bounce; 
  animation-duration: 1s; /*2초동안*/
  animation-iteration-count: 0 /*1회 반복*/
  animation-direction: normal; /*애니메이션종료후 진행방향*/
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; /*시작프레임에 설정한 스타일적용하고 대기*/
  animation-delay: 0s; /*0초뒤에 애니메이션 동작*/
 
}
@keyframes bounce{
  0%{transform:translate(0,0)}
  50%{transform:translate(0, 20px)}
  100%{transform:translate(0, 20px)}
  
}
@-webkit-keyframes bounce{
   0%{transform:translate(0,0)}
  50%{transform:translate(0, 20px)}
  100%{transform:translate(0, 20px)}
}


#mainMenu li .mainDropdown li{padding:10px;}

.mainDropdown a {
  color:#666;
  text-decoration: none;
}

#mainMenu li:hover .mainDropdown {display: block; transition: all 1s; }
/* #mainMenu li:hover .mainDropdown {display: block; opacity:0.5; transition: all 1s; } 
#mainMenu li:hover .mainDropdown:hover{display: block; opacity:1; transform:matrix(1,0,0,1,0,20); }*/
#mainMenu li:hover .mainDropdown:hover{}


.gold {color:#9c836a;}






