@CHARSET "UTF-8";





input[type='password'] {
  width:400px; height:48px;
  box-sizing: border-box;
  display: inline-block;
  border:1px solid #e6e3df; 
  padding:0 12px; 
  font-size:14px; font-weight:500; font-family:'Noto Sans'; 
  margin:4px 0; transition:all .3s ease; 
}

input[type='password']:focus {
  outline: none;
   -moz-outline: none;
   -webkit-outline: none;
   border:1px solid #9c836a;
}

.progress-bar_wrap {
  width: 400px;
  height: 5px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 5px;
}

.form-1 .progress-bar_item {
  display: inline-block;
  height: 100%;
  width: 33.33%;
  float: left;
  visibility: hidden;
  transition: background-color .2s, visisility .1s;
}

.form-1 .active {
  visibility: visible;
}

.progress-bar_item-1 {
  
}

.progress-bar_item-2 {

}

.progress-bar_item-3 {

}

.progress-bar_text {
  display: inline-block;
  color: #aaa !important;
  font-size:13px !important; 
  font-weight:400 !important;
  margin: 5px 0 10px 0;
  transition: .2s;
}
