@CHARSET "UTF-8";


#Content_container{width:100%; padding:60px 0;}
#Content_container .contentBox{width:1280px; padding:0 80px; margin:0 auto;}
#Content_container h5{font-weight:700; font-size:16px; color:#9c836a; padding-bottom:10px; }
#Content_container h4{font-size:30px; font-weight:100; padding-bottom:60px; line-height:140%;}
#Content_container .fullBox_grey{overflow:hidden; background:#f9f9f9; padding:30px 0 60px 0;}
#Content_container .fullBox_grey .boxArea{width:1280px; padding:40px 80px; margin:0 auto;}

#Content_container .fullBox_grey .loginBox{width:50%; float:left; padding-right:79px; border-right:1px solid #eceae7;}
#Content_container .fullBox_grey .loginBox input{width:100%; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:300; margin:4px 0; transition:all .3s ease; }
#Content_container .fullBox_grey .loginBox input:focus{border:1px solid #9c836a;}
#Content_container .fullBox_grey .loginBox button{width:100%; height:56px; margin-top:10px; padding:0 32px; font-size:18px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#Content_container .fullBox_grey .loginBox button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}

#Content_container .fullBox_grey .joinBox{width:50%; float:right; padding-left:80px;}
#Content_container .fullBox_grey .joinBox button{width:100%; height:56px; margin-top:10px; padding:0 32px; font-size:18px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#Content_container .fullBox_grey .joinBox button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}


/* joinForm.jsp */
 
#joinForm {margin:0 auto; width:560px;}
#joinForm h5{font-weight:500; font-size:16px; color:#666; padding-bottom:10px; }
#joinForm span{display:block; font-weight:500; color:#9c836a; font-size:15px; margin-top:10px;}
#joinForm button{width:150px; height:48px; margin-left:5px; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#joinForm .submit_b1{width:49%; height:48px; margin:20px 0 0 0; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#joinForm .submit_b2{width:49%; height:48px; margin:20px 0 0 5px; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#joinForm button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}
#joinForm input{width:400px; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:500; font-family:'Noto Sans'; margin:4px 0; transition:all .3s ease; }
#joinForm input:focus{border:1px solid #9c836a;}
#joinForm hr{border:1px solid #eee; margin:40px 0;}
.gendertype{width:18px !important;}

/* myInfoModify.jsp */

.test1234{color:#990000;}
#modifyForm {margin:0 auto; width:400px;}
#modifyForm h5{font-weight:500; font-size:16px; color:#666; padding-bottom:10px; }
#modifyForm span{display:block; font-weight:500; color:#9c836a; font-size:15px; margin-top:10px;}
#modifyForm button{width:150px; height:48px; margin-left:5px; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#modifyForm .submit_b1{width:49%; height:48px; margin:20px 0 0 0; padding:0 32px; font-size:15px; background:#9c836a; color:#fff; transition:1s;}
#modifyForm .submit_b2{width:49%; height:48px; margin:20px 0 0 5px; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#modifyForm input{width:400px; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:500; font-family:'Noto Sans'; margin:4px 0; transition:all .3s ease; }
#modifyForm input:focus{border:1px solid #9c836a;}
#modifyForm hr{border:1px solid #eee; margin:40px 0;}


/* boardList.jsp */
#notice {margin:0 auto 40px auto; position:relative; width:80%;}
.lineR{position:relative; display:block;}
.lineR::before{content:""; margin-top:-6px;  position:absolute; top:50%; right:0; width:2px; height:15px; background:#ddd; display:inline-block; z-index:5;}
#notice table.list{border-top:2px solid #747474; border-bottom:1px solid #747474;}
#notice thead{vertical-align:middle; border-bottom:1px solid #747474; }
#notice th{height:51px; text-align:center;}
#notice td{height:51px; text-align:center; border-bottom:1px solid #ddd;}
.trSubject{text-align:left !important; padding-left:20px;}
.trContent:hover{background:#eee;}
#notice tr:LAST-CHILD{height:51px; text-align:center; border-bottom:1px solid #000 !important;}
#notice button {width:96px; height:38px; margin-top:10px; padding:0 25px; font-size:14px; background:#9c836a; color:#fff; border:1px solid #9c836a; cursor:pointer;}
#notice .write_btn{float:right;}

/* myPage.jsp */

.userCheckBox{width:50%; margin:0 auto;}
.userCheckBox input{width:100%; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:300; margin:10px 0; transition:all .3s ease; }
.userCheckBox input:focus{border:1px solid #9c836a;}
.userCheckBox button{width:100%; height:56px; margin-top:10px; padding:0 32px; font-size:18px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
.userCheckBox button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}

/* mailForm.jsp */
#mailForm{width:100%; margin:0 auto;}
#mailForm input{width:100%; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:300; margin:0 0 20px 0; }
#mailForm .userInfo{width:33.33%; float:left;}
#mailForm .userContent{width:33.33%; float:left; padding:0 15px;}
#mailForm .userContent .innerBox{position:relative; height:665px; border:1px solid #e6e3df;}
#mailForm .userContent h4{font-size:20px; color: #9c836a; font-weight:500; padding:20px;}
#mailForm .userContent .main_copy{padding:0 20px; text-align:justify; line-height:180%;}
#mailForm .userContent .bottom_copy{position:absolute; bottom:30px; right:30px; text-align:right; font-size:32px; color:#444; font-weight:900; line-height:110%;}
#mailForm .userAgree{width:33.33%; float:right;}
#mailForm .userAgree img{width:100%;}
#mailForm textarea{border:1px solid #e6e3df; resize:none;}
#mailForm button{width:100%; height:56px; margin-top:10px; padding:0 32px; background:#9c836a; font-size:18px; color:#fff; transition:1s;}


/* joinCheck.jsp */
#joinCheck {padding:15px;}
#joinCheck input{width:180px; height:38px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:500; font-family:'Noto Sans'; margin:4px 0; transition:all .3s ease;}
#joinCheck input:focus{border:1px solid #9c836a;}
#joinCheck button{width:150px; height:38px; margin-left:5px; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s; cursor:pointer;}
#joinCheck button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;cursor:pointer;}
#joinCheck span{font-weight:700; color:#9c836a; font-size:15px; margin-top:10px; text-align:center; line-height:180%;}
#joinCheck p{font-weight:700; color:#9c836a; font-size:15px; margin-top:10px; text-align:center;}
#joinCheck hr{margin:20px 0;}

/* writeForm.jsp */
#writeForm {width:70%; margin:0 auto 40px auto;}
#writeForm table.list{border-top:2px solid #747474; border-bottom:1px solid #747474;}
#writeForm th{border-top:1px solid #747474; border-bottom:1px solid #747474; height:51px; text-align:center; width:110px;}
#writeForm td{height:51px; text-align:left; border-bottom:1px solid #ddd;}
#writeForm input{border:1px solid #ccc; text-align:left; height:32px; padding:3px 5px; width:250px; margin-left:2px;}
#writeForm .sub_input{width:98.5%;}
#writeForm .file_input{width:99%;}
#writeForm textarea{border:1px solid #ccc; margin:10px 4px;}
#writeForm .write_btn {width:96px; height:38px; margin-top:10px; padding:0 25px; font-size:14px; background:#9c836a; color:#fff; border:1px solid #9c836a; cursor:pointer;}
#writeForm .list_btn {width:96px; height:38px; margin-top:10px; padding:0 25px; font-size:14px; background:#fff; color:#9c836a; border:1px solid #9c836a; cursor:pointer;}
#writeForm .btn_set{width:200px; margin:0 auto;}

/* content.jsp */
#contentView {width:80%; margin:0 auto 40px auto;}
#contentView table.list{border-top:2px solid #747474; border-bottom:1px solid #747474;}
#contentView th{border-top:1px solid #747474; border-bottom:1px solid #747474; height:51px; text-align:center; width:110px;}
#contentView td{height:51px; text-align:left; border-bottom:1px solid #ddd;}
#contentView input{border:1px solid #ccc; text-align:left; height:32px; padding:3px 5px; width:250px; margin-left:2px;}
#contentView .sub_input{width:98.5%;}
#contentView .file_input{width:99%;}
#contentView textarea{border:1px solid #ccc; margin:10px 4px; }
#contentView .content{text-align:justify; line-height:180%; font-size:15px;}
#contentView .c_content{line-height:180%; font-size:15px; text-align:center;}
#contentView .write_btn {width:96px; height:38px; margin:10px 1px 0 1px; padding:0 25px; font-size:14px; background:#9c836a; color:#fff; cursor:pointer;}
#contentView .list_btn {width:96px; height:38px; margin:10px 1px 0 1px; padding:0 25px; font-size:14px; background:#fff; color:#9c836a; border:1px solid #9c836a; cursor:pointer;}
#contentView .btn_set_r{width:300px; margin:0 auto; text-align:right; float:right;}
#contentView .btn_set_l{width:98px; float:left;}


/* eventList.jsp */
#tapBox ul li{float:left; font-size:16px; font-weight:400; color:#999;margin-right:24px;}
#countBox ul li{float:right; font-size:16px; font-weight:400; color:#999; margin-right:24px;}
#eventBox{margin:40px 0 60px 0; width:100%;}
#eventBox ul li{float:left; width:33.333%; margin-bottom:30px; padding-right:30px;}
#eventBox ul li .event_subject{color:#333; margin:10px 0 0 0;}
#eventBox ul li .event_context{color:#999; padding:0 0 8px 0; min-height:52px;}
#eventBox ul li .event_period{font-size:13px; color:#bbb;}


/* eventContent.jsp */
.img100 img{max-width:835px;}


#gallery {margin:0 auto 40px auto; position:relative; width:100%;}
#gallery button {width:96px; height:38px; margin-top:10px; padding:0 25px; font-size:14px; background:#9c836a; color:#fff; border:1px solid #9c836a; cursor:pointer;}
#gallery .write_btn{float:right;}
.gallery_thum{width:100%;height:226px; overflow:hidden;}
.gallery_thum img{width:100%; }
.actionImg3 {
	 position:relative;
}
.actionImg3 img {
	 display:block;
	 width:100%;
	 overflow:hidden;
}
.actionImg3 .hover {
	 z-index:20;
	 position:absolute;
	 top:0;
	 left:0;
	 background-color:rgba(0,0,0,0.5);
	 width:100%;
	 height:100%;
	 color:#efefef;
	 text-align:center;
	 padding-top:30%;
	 box-sizing:border-box;
	 opacity:0;
	 transition:opacity .3s ease-out;
	 -webkit-transition:opacity .3s ease-out;
	 -moz-transition:opacity .3s ease-out;
}
.actionImg3 .hover .line1 {
	 position:absolute;
	 top:5%;
	 left:5%;
	 width:90%;
	 height:90%;
	 border-top:1px solid #efefef;
	 border-bottom:1px solid #efefef;
	opacity:0;
	 transform:scale(0,1);
	 -webkit-transform:scale(0,1);
	 -moz-transform:scale(0,1);
	 transition:transform.4s ease-out .2s,opacity .4s ease-out;
	 -webkit-transition:-webkit-transform .4s ease-out .2s,opacity .4s ease-out;
	 -moz-transition:-moz-transform .4s ease-out .2s,opacity .4s ease-out;
	box-sizing:border-box;
}
.actionImg3 .hover .line2 {
	 position:absolute;
	 top:5%;
	 left:5%;
	 width:90%;
	 height:90%;
	 border-left:1px solid #efefef;
	 border-right:1px solid #efefef;
	opacity:0;
	transform:scale(1,0);
	 -webkit-transform:scale(1,0);
	 -moz-transform:scale(1,0);
	transition:transform.4s ease-out .2s,opacity .4s ease-out;
	 -webkit-transition:-webkit-transform .4s ease-out .2s,opacity .4s ease-out;
	 -moz-transition:-moz-transform .4s ease-out .2s,opacity .4s ease-out;
	box-sizing:border-box;
}
.actionImg3 .hover .sub_tit{
	 color:#fff;
	 font-size:16px;
	 transform:translate3d(0,-10px,0);
	 -webkit-transform:translate3d(0,-10px,0);
	 -moz-transform:translate3d(0,-10px,0);
	 opacity:0;
	 transition:transform .5s ease-out .2s,opacity .5s ease-out .3s;
	  -webkit-transition:-webkit-transform .5s ease-out .2s,opacity .5s ease-out .3s;
	 -moz-transition:-moz-transform .5s ease-out .2s,opacity .5s ease-out .3s;
}
.actionImg3:hover .hover{
	 opacity:1;
}
.actionImg3:hover .hover .sub_tit{
	 opacity:1;
	 transform:translate3d(0,0,0);
	 -webkit-transform:translate3d(0,0,0);
	 -moz-transform:translate3d(0,0,0);
}
.actionImg3:hover .line1{
	 transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	 -moz-transform:scale(1,1);
	 opacity:1;
}
.actionImg3:hover .line2{
	 transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	 -moz-transform:scale(1,1);
	 opacity:1;
}

div.block
{
	position: relative;

}

div.block svg
{
	position: absolute;
	bottom: 50px;
	width: 30px;
	
	animation: chevronAnimation 4s ease-in-out 0s infinite;
}


/**
 * Simple keyframes animation for the chevron on the first slide
 */
@keyframes chevronAnimation {
	0% {
		transform: translate(0,0) scale(1.0,1.0);
	}
	50% {
		transform: translate(0,5px) scale(0.8,0.8);
	}
	100% {
		transform: translate(0,0) scale(1.0,1.0);
	}
}


/* 메일폼 로딩 애니메이션 */

.lodingAni{position:relative;}
#actionCon {
	display:none;
	 overflow:hidden;
	 width:300px;
	 height:50px;
	 background:#9c836a;
	 position:absolute; top:-52px; left:50%;
	 margin-left:-150px;
	  }
.actionType5_1{
	 text-align:center;
	 margin:13px auto;
	 width:50%;
}
.actionType5_1 > div {
	 display:inline-block;
	 width:15px;
	 height:15px;
	 margin-right:15px;
	 background-color:#fff;
	 border-radius:50%;
	 -webkit-border-radius:50%;
	 transform:scale(0);
	 -webkit-transform:scale(0);
	 -moz-transform:scale(0);
	 animation:lodingCircle1 ease-in-out 1.5s infinite;
	 -webkit-animation:lodingCircle1 ease-in-out 1.5s infinite;
	 -moz-animation:lodingCircle1 ease-in-out 1.5s infinite;
}
.actionType5_1 .loding1 {
	 animation-delay:-.5s;
	 -webkit-animation-delay:-.5s;
	 -moz-animation-delay:-.5s;
}
.actionType5_1 .loding2 {
	 animation-delay:-.3s;
	 -webkit-animation-delay:-.3s;
	 -moz-animation-delay:-.3s;
}
.actionType5_1 .loding3 {
	 margin-right:0;
	 animation-delay:-.1s;
	 -webkit-animation-delay:-.1s;
	 -moz-animation-delay:-.1s;
}
@keyframes lodingCircle1 {
0%{
	 transform:scale(1);
	 -webkit-transform:scale(1);
	 -moz-transform:scale(1);
	 opacity:1;
}
10% {
	 transform:scale(1.2);
	 -webkit-transform:scale(1.2);
	 -moz-transform:scale(1.2);
}
60%,100% {
	 transform:scale(0);
	 -webkit-transform:scale(0);
	 -moz-transform:scale(0);
	 opacity:0;
}}
@-webkit-keyframes lodingCircle1 {
0%{
	 transform:scale(1);
	 -webkit-transform:scale(1);
	 -moz-transform:scale(1);
	 opacity:1;
}
10% {
	 transform:scale(1.2);
	 -webkit-transform:scale(1.2);
	 -moz-transform:scale(1.2);
}
60%,100% {
	 transform:scale(0);
	 -webkit-transform:scale(0);
	 -moz-transform:scale(0);
	 opacity:0;
}}

@keyframes lodingCircle2 {
0%,60%,100% {
	 transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	 -moz-transform:scale(1,1);
}
10% {
	 transform:scale(1,2.3);
	 -webkit-transform:scale(1,2.3);
	 -moz-transform:scale(1,2.3);
}}
@-webkit-keyframes lodingCircle2 {
0%,60%,100% {
	 transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	 -moz-transform:scale(1,1);
}
10% {
	 transform:scale(1,2.3);
	 -webkit-transform:scale(1,2.3);
	 -moz-transform:scale(1,2.3);
}}
/* 메일폼 로딩 애니메이션 */

.pd10{padding:10px;}
.pd20{padding:20px;}
.pd30{padding:30px;}
.pd40{padding:40px;}
.pd50{padding:50px;}
.pd60{padding:60px;}
.pd70{padding:70px;}
.npd{padding:0 !important;}
/* pagination 공통 */
#pagination {text-align:center;}
#pagination a{display:inline-block; margin:0 3px;}