@CHARSET "UTF-8";

#Content_container{width:100%; padding:60px 0;}
#Content_container .contentBox{width:1280px; padding:0 80px; margin:0 auto;}
#Content_container h5{font-weight:700; font-size:16px; color:#9c836a; padding-bottom:10px; }
#Content_container h4{font-size:30px; font-weight:100; padding-bottom:60px; line-height:140%;}
#Content_container .fullBox_grey{overflow:hidden; background:#f9f9f9; padding:30px 0 60px 0;}
#Content_container .fullBox_grey .boxArea{width:1280px; padding:40px 80px; margin:0 auto;}

#Content_container .fullBox_grey .loginBox{width:50%; float:left; padding-right:79px; border-right:1px solid #eceae7;}
#Content_container .fullBox_grey .loginBox input{width:100%; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:300; margin:4px 0; transition:all .3s ease; }
#Content_container .fullBox_grey .loginBox input:focus{border:1px solid #9c836a;}
#Content_container .fullBox_grey .loginBox button{width:100%; height:56px; margin-top:10px; padding:0 32px; font-size:18px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#Content_container .fullBox_grey .loginBox button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}

#Content_container .fullBox_grey .joinBox{width:50%; float:right; padding-left:80px;}
#Content_container .fullBox_grey .joinBox button{width:100%; height:56px; margin-top:10px; padding:0 32px; font-size:18px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#Content_container .fullBox_grey .joinBox button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}


/* joinForm.jsp */
 
#joinForm {margin:0 auto; width:560px;}
#joinForm h5{font-weight:500; font-size:16px; color:#666; padding-bottom:10px; }
#joinForm span{display:block; font-weight:500; color:#9c836a; font-size:15px; margin-top:10px;}
#joinForm button{width:150px; height:48px; margin-left:5px; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#joinForm .submit_b1{width:49%; height:48px; margin:20px 0 0 0; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#joinForm .submit_b2{width:49%; height:48px; margin:20px 0 0 5px; padding:0 32px; font-size:15px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
#joinForm button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}
#joinForm input{width:400px; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:500; font-family:'Noto Sans'; margin:4px 0; transition:all .3s ease; }
#joinForm input:focus{border:1px solid #9c836a;}
#joinForm hr{border:1px solid #eee; margin:40px 0;}

/* boardList.jsp */
#notice {margin-bottom:40px; position:relative;}
.lineR{position:relative; display:block;}
.lineR::before{content:""; margin-top:-6px;  position:absolute; top:50%; right:0; width:2px; height:15px; background:#ddd; display:inline-block; z-index:5;}
#notice table.list{border-top:2px solid #747474; border-bottom:1px solid #747474;}
#notice thead{vertical-align:middle; border-bottom:1px solid #747474; }
#notice th{height:51px; text-align:center;}
#notice td{height:51px; text-align:center; border-bottom:1px solid #ddd;}
.trSubject{text-align:left !important; padding-left:20px;}
.trContent:hover{background:#eee;}
#notice tr:LAST-CHILD{height:51px; text-align:center; border-bottom:1px solid #000 !important;}


/* myPage.jsp */

.userCheckBox{width:50%; margin:0 auto;}
.userCheckBox input{width:100%; height:48px; border:1px solid #e6e3df; padding:0 12px; font-size:14px; font-weight:300; margin:10px 0; transition:all .3s ease; }
.userCheckBox input:focus{border:1px solid #9c836a;}
.userCheckBox button{width:100%; height:56px; margin-top:10px; padding:0 32px; font-size:18px; color:#9c836a; border:1px solid #9c836a; transition:1s;}
.userCheckBox button:hover{color:#fff; background:#9c836a; border:1px solid #9c836a;}
